.carousel-control-prev{
    display: none;
}
.carousel-control-next{
    display: none;
}
/* style.css */

  .carousel-item {
    float: left;
   
    margin-bottom: 20px;
    transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
    display: inline;
    position: relative !important;
  }
  .carousel-inner{
    flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  }
